service: cloudfront-invalidate-dist

provider:
  name: aws
  runtime: 'nodejs14.x'
  memorySize: 128
  timeout: 30
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-east-1'}

  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "codepipeline:PutJobFailureResult"
        - "codepipeline:PutJobSuccessResult"
        - "cloudfront:CreateInvalidation"
      Resource: "*"

package:
  patterns:
    - '!**/*'
    - handler.js

functions:
  invalidate:
    handler: handler.handler
